@import url('./reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #082032;
    background-image: url( ../img/space.jpg);
    
}


 /* backgroup - titulo*/
  h1{
    color: #FF4C29;
    font-size: 68px;
    font-weight: bold;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: go-back 2s;
    text-decoration: none;
}
a {
    color: #FF4C29;
    text-decoration: none;
}
.content-titulo{
    background-color:#334756 ;
    position: relative;
    width: 245px;
    height: 110px;
    left: 90px;
    top: 252px;
    margin: 10px ; width: 345px;
    border-radius: 6px;
    animation: go-back 2s;
    transition: transform 1s;
    transform: translateX(0) scale(0.2);
    animation: bounce 1s infinite alternate;
-webkit-animation: bounce 1s infinite alternate;
}
.content-titulo2  {
    background-color:#334756 ;
    position: relative;
    width: 245px;
    height: 100px;
    left: 90px;
    top: 252px;
    margin: 10px;
    border-radius: 6px;
    animation: go-back 4s;
    transition: transform 1s;
    transform: translateX(0) scale(0.2);
    animation: bounce 1s infinite alternate;
-webkit-animation: bounce 1s infinite alternate;
}
.stage {
    background-image: url('../img/espaço\ -\ fundo.png');
    background-repeat: no-repeat;
    position: relative;
    top: -15px;
    bottom: 30px;
    left: 35%;
    width: 800px;
    height: 600px;
    transition: transform 1s;
    transform: translateX(0) scale(0.5);
    animation: bounce 1s infinite alternate;
-webkit-animation: bounce 1s infinite alternate;
  }
  
.stage:hover,
.stage:focus {
    transform: translateX(50px) scale(1.2);
    
  }
.foguete {
    position: relative;
    z-index: 2;
    width: 69px;
    top: 500px;
    left: 50%;
    animation: takeOff 9s 2s 1 ease-in both, alternate;
    animation-timing-function: start cubic-bezier(0.15, 0.84, 0.44,0.25);
    animation-iteration-count: infinite;
}

.fire {
    position: relative;
    z-index: 3;
    width: 21px;
    height: 27px;
    background-image: url('../img/flame.svg');
    top: -27px;
    left: 24px;
    animation: Start 15s 4s 1 ease-in both, alternate;
    transition: transform 5s;
    transform: translateX(0.5) scale(0);
    animation-timing-function: start cubic-bezier(0.65, 0.84, 0.14, 0.25);
    animation-iteration-count: infinite;
}

.corpo {
    position: relative;
    z-index: 4;
    width: 69px;
    height: 120px;
    background-image: url('../img/rocket.svg');
}



@keyframes bounce  {
from {
  transform: translateY(0px);
}
to {
  transform: translateY(-15px);
}
}
@-webkit-keyframes bounce {
from {
  transform: translateY(0px);
}
to {
  transform: translateY(-15px);
}
}

@keyframes go-back {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
  }

@keyframes takeOff {
    0% {
        top: 600px;
    }
    90% {
        top: -220px;
    }
    100% {

        top: -300px;
    }
}

@keyframes a {
    0% {
        transform: translateY(0)   scale(1.1);
    }
    90% {
        transform: translateY(-600px)   scale(0.0);
    }
    100% {

        transform: translateY(-400px)   scale(1.1);
    }
}

@keyframes Start {
    10% {
        top: -100px;
    }
    10% {
        top: -10px
    }
    65% {
        top: -10px
    }
    75% {
        top: -10px;
    }
}

@keyframes landscape {
    10% {
        background-position: bottom;
    }
    85% {
        background-position: top;
    }
    100% {
        background-position: top;
    }
}